---
title: Index Page
---
extends layouts/_layout
block content
	// start PROMO
	section.promo(style="background-image: url(img/promo-bg.jpg)")
		.container
			.promo-left
				h1.wow.fadeInUp Наши возможности #[span.wow.fadeIn(data-wow-delay="1s" data-wow-duration="0.6s") бесконечны]
				p.wow.fadeInLeft(data-wow-delay="1.6s") Стирая границы возможного, мы открываем для Вас неизведанные горизонты: удивительные события, незабываемые впечатления, новые города и страны…
			.promo-right.wow.fadeInRight(data-wow-delay="1.6s")
				span.wow.gcs-slogan.fadeInDown(data-wow-delay="2.6s") gcs взгляни на мир по-новому
				img.wow.woman-img(alt="gcs взгляни на мир по-новому" src="img/woman.png")
	// end PROMO
	// start WELCOME
	section.welcome#welcome
		.welcome-top
			h2 welcome to #[strong GCS] business group
		.container
			.welcome-block.wow.fadeInLeft
				.welcome-block-top
					img(alt="Mice Департамент" src="img/globe.svg" width="74" height="74")
					h3 #[a.js-anchor(href="#mice-department") Mice] Департамент
				p Мы всегда стремимся оптимизировать затраты клиентов и подобрать оптимальный вариант проведения любых мероприятий: служебных поездок, выездных конференций, семинаров, тренингов и инсентив-поездок
			.welcome-block.wow.fadeInRight
				.welcome-block-top
					img(alt="Event Департамент" src="img/people-blue.svg" width="80" height="78")
					h3 #[a.js-anchor(href="#event-department") Event] Департамент
				p Предлагаем профессиональную организацию и проведение корпоративных вечеринок, в т.ч. VIP категории, а также детских и спортивных праздников, предоставляем техническое обеспечение и ресторанное обслуживание мероприятий.
	// end WELCOME
	// start PROJECTS
	section.projects#projects
		h3 Наши #[span проекты]
		// start PROJECTS FILTER
		.projects-filter
			.container
				ul.projects-filter-list
					li: a.js-active(href="#" data-filter="*") Все
					li: a(href="#" data-filter=".sort1") Корпоративные мероприятия
					li: a(href="#" data-filter=".sort2") Тибилдинги
					li: a(href="#" data-filter=".sort3") Юбилеи компании
					li: a(href="#" data-filter=".sort4") Презентации
					li: a(href="#" data-filter=".sort5") Детские праздники
					li: a(href="#" data-filter=".sort6") Выездные конференции
					li: a(href="#" data-filter=".sort7") Семинары
					li: a(href="#" data-filter=".sort8") Инсентив поездки
		// end PROJECTS FILTER
		// start PROJECTS GALLERY		
		.projects-gallery
			a.projects-item.sort1.popup-link(href="#gcs-popup-1")
				img(alt="" src="img/gallery-item1.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее
			a.projects-item.sort1.popup-link(href="#gcs-popup-2")
				img(alt="" src="img/gallery-item2.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее
			a.projects-item.sort2.popup-link(href="#gcs-popup-1")
				img(alt="" src="img/gallery-item3.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее
			a.projects-item.sort3.popup-link(href="#gcs-popup-2")
				img(alt="" src="img/gallery-item4.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее
			a.projects-item.sort4.popup-link(href="#gcs-popup-1")
				img(alt="" src="img/gallery-item5.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее					
			a.projects-item.sort5.popup-link(href="#gcs-popup-2")
				img(alt="" src="img/gallery-item1.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее
			a.projects-item.sort5.popup-link(href="#gcs-popup-1")
				img(alt="" src="img/gallery-item2.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее
			a.projects-item.sort6.popup-link(href="#gcs-popup-2")
				img(alt="" src="img/gallery-item3.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее
			a.projects-item.sort6.popup-link(href="#gcs-popup-1")
				img(alt="" src="img/gallery-item4.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее
			a.projects-item.sort7.popup-link(href="#gcs-popup-2")
				img(alt="" src="img/gallery-item5.jpg")
				.overlay
					.overlay-wrap
						.overlay-body
							h4 Летнее мероприятие
							p с квестом и флешмобом
							span.btn подробнее				
		// end PROJECTS GALLERY
	// end PROJECTS
	// start FEATURES
	section.features#features
		h2 #[span 12 лет] успешной работы
		.container
			.features-group
				.feature.wow.fadeInUp(data-wow-delay="0.3s")
					.feature-icon
						img(alt="12 лет на рынке услуг" src="img/graph.svg" width="65" height="65")
					h4.feature-count.js-counter 12
					p лет на рынке #[br] услуг
				.feature.wow.fadeInUp(data-wow-delay="0.6s")
					.feature-icon
						img(alt="200 и более проектов по всему миру" src="img/bag-blue.svg" width="65" height="65")
					h4.feature-count.js-counter 2000
					p и более проектов #[br] по всему миру
				.feature.wow.fadeInUp(data-wow-delay="0.9s")
					.feature-icon
						img(alt="25 000 человек на одном мероприятии" src="img/people-down.svg" width="65" height="65")
					h4.feature-count.js-counter 25 000
					p человек #[br] на одном #[br] мероприятии
				.feature.wow.fadeInUp(data-wow-delay="1.2s")
					.feature-icon
						img(alt="50 стран, где мы работаем" src="img/globe-mark.svg" width="65" height="65")
					h4.feature-count.js-counter 50
					p стран, где мы #[br] работаем
				.feature.wow.fadeInUp(data-wow-delay="1.5s")
					.feature-icon
						img(alt="30 договоров на годовое обслуживание" src="img/list.svg" width="65" height="65")
					h4.feature-count.js-counter 30
					p договоров #[br] на годовое #[br] обслуживание			
	// end FEATURES
	// start mice department
	section.mice-department.wow#mice-department(data-wow-offset="200" data-parallax="scroll" data-image-src="img/mice-bg.jpg")
		.container
			h2 #[span Mice] департамент
			.mice-group
				img.globe-big(src="img/globe-big.png" alt="Земной шар" data-wow-offset="200" data-wow-delay="3.4s")
				.mice-group-left
					.mice-block(data-wow-delay="1s" data-wow-offset="200")
						.top
							a.icon.popup-link(href="#gcs-popup-single")
								img(alt="деловые мероприятия в России" src="img/map.svg" width="108" height="56")
							h3 Деловые мероприятия #[br] в России
						p Мы не просто оказываем услуги по организации конференций, мы создаем по-настоящему комфортную бизнес-атмосферу.
					.mice-block(data-wow-delay="2.2s" data-wow-offset="-400")
						.top
							a.icon.popup-link(href="#gcs-popup-single")
								img(alt="деловые мероприятия за рубежом" src="img/globe.svg" width="66" height="66")
							h3 Деловые мероприятия #[br] за рубежом
						p Одним из центральных видов нашей деятельности - является деловых мерпориятий более, чем в 50 странах мира.
				.mice-group-right
					.mice-block(data-wow-delay="1.6s" data-wow-offset="200")
						.top
							a.icon.popup-link(href="#gcs-popup-single")
								img(alt="Интенсив поездки" src="img/heart.svg" width="108" height="56")
							h3 Интенсив #[br] поездки
						p Полная организация поощрительных поездок для сотрудников компаний, начиная с выбора направления и заканчивая бронированием билетов для участников.
					.mice-block(data-wow-delay="2.8s" data-wow-offset="-400")
						.top
							a.icon.popup-link(href="#gcs-popup-single")
								img(alt="Наши награды" src="img/prize.svg" width="79" height="74")
							h3 Наши #[br] награды
						p За 12 лет своего существования компания GCS Business Group стала обладателем ряда профессиональных наград и множества благодарственных писем от наших клиентов.
	// end mice department
	// start event department
	section.event-department#event-department(data-parallax="scroll" data-image-src="img/event-bg.jpg")
		.container
			h2 #[span Event] департамент
			.event-advantages
				img.first.wow.zoomIn(alt="Event департамент" src="img/infinity.svg" class="event-department-img")
				.event-advantages-group
					.event-advantage.first.wow.zoomIn
						img(alt="" src="img/group.svg" width="85" height="70")
						h3 #[span.js-counter 25 000]
						p человек на одном мероприятии
					.event-advantage.second.wow.zoomIn
						img(alt="" src="img/bag-white.svg" width="85" height="62")
						h3 #[span.js-counter 2000]
						p реализованных проектов
			.events
				.single-event
					a.icon.popup-link(href="#gcs-popup-single")
						img(alt="" src="img/teambuilding.svg" width="67" height="62")
					p тимбилдинги		
				.single-event
					a.icon.popup-link(href="#gcs-popup-single")
						img(alt="" src="img/people-white.svg" width="66" height="63")
					p Корпоративные #[br] мероприятия
				.single-event
					a.icon.popup-link(href="#gcs-popup-single")
						img(alt="" src="img/cake.svg" width="63" height="63")
					p Юбилеи компаний
				.single-event
					a.icon.popup-link(href="#gcs-popup-single")
						img(alt="" src="img/mic.svg" width="47" height="71")
					p Презентации
				.single-event
					a.icon.popup-link(href="#gcs-popup-single")
						img(alt="" src="img/selebrate.svg" width="75" height="68")
					p Детские #[br] мероприятия		
	// end event department
	// start NEWS
	section.news#news
		.container
			h2 Новости
			p Дорогие друзья! #[br] Мы рады представить Вашему вниманию все яркие события в жизни компании, а также последние предложения и идеи по организации мероприятий.
			.news-group
				.row
					.news-item
						.news-item-slider
							.slide
								img(alt="" src="img/news.jpg")
								h4 
									a(href="#gcs-popup-news") BBT Awards 2016
								p Дорогие друзья и партнеры GCS Business Group, наша компания номинирована в качестве Лучшего MICE-агентства в конкурсе BBT Awards 2016! 
								a.btn.popup-link(href="#gcs-popup-news") Подробнее
							.slide
								img(alt="" src="img/news.jpg")
								h4 
									a(href="#gcs-popup-news") Корпоративное лето 2016
								p Предлагаем Вашему вниманию каталог идей. Как провести лето в компании коллег с пользой!
								a.btn.popup-link(href="#gcs-popup-news") Подробнее
					.news-item
						.news-item-slider
							.slide
								img(alt="" src="img/news.jpg")
								h4 
									a(href="#") Корпоративное лето 2016
								p Предлагаем Вашему вниманию каталог идей. Как провести лето в компании коллег с пользой!
								a.btn(href="https://yadi.sk/d/SWWFXkO5tcSGV") Скачать
							.slide
								img(alt="" src="img/news.jpg")
								h4 
									a(href="#") Корпоративное лето 2016
								p Предлагаем Вашему вниманию каталог идей. Как провести лето в компании коллег с пользой!
								a.btn(href="https://yadi.sk/d/SWWFXkO5tcSGV") Скачать
					.news-item
						.news-item-slider
							.slide
								img(alt="" src="img/news.jpg")
								h4 
									a(href="#gcs-popup-news") GCS Business Group
								p Дорогие подписчики, друзья, партнеры! Сегодня замечательный день - День рождения нашей компании! GCS Business Group исполнилось 12 лет! 
								a.btn.popup-link(href="#gcs-popup-news") Подробнее
							.slide
								img(alt="" src="img/news.jpg")
								h4 
									a(href="#gcs-popup-news") GCS Business Group
								p Дорогие подписчики, друзья, партнеры! Сегодня замечательный день - День рождения нашей компании! GCS Business Group исполнилось 12 лет! 

								a.btn.popup-link(href="#gcs-popup-news") Скачать						
	// end NEWS
	// start CLIENTS
	section.clients(data-parallax="scroll" data-image-src="img/mice-bg.jpg")
		.container
			h2 Нам доверяют
			img.clients-brands(src="img/infinity-brands.png" alt="")
	// end CLIENTS
	// start CONTACT
	section.contact#contact(data-parallax="scroll" data-image-src="img/contact-bg.jpg")
		.contact
			.container
				.contact-left
					a.logo
						img(alt="" src="img/logo.svg" width="224" height="77")
					.worktypes
						span MICE
						span EVENT
						span Корпоративные мероприятия
						span Юбилеи компании
						span Тимбилдинги
						span Детские праздники
						span Семинары
						span Презентации
						span Выездные конференции
						span Инсентив поездки
				.contact-right
					img(alt="" src="img/paperplane.png")
					h3 Наши контакты
					address.contact-block.address Б. Дровяной пер., д. 20 стр. 2, Москва, Россия, 109004
					.contact-block.phones 
						.contact-block-phone #[span тел:] +7 (495) 662-12-23
						.contact-block-phone #[span] +7 (495) 662-12-24
					.contact-block e-mail: sales@gcs-business.ru
					.socials
						a.social-icon(href="#")
							img(alt="" src="img/vk.svg" width="24" height="24")
						a.social-icon(href="#")
							img(alt="" src="img/fb.svg" width="24" height="24")
						a.social-icon(href="#")
							img(alt="" src="img/inst.svg" width="24" height="24")
	// end CONTACT
	// start MAP
	#map
	// end MAP
	// start GCS POPUP 1
	.gcs-popup.mfp-hide#gcs-popup-1
		.gcs-popup-inner.scrollbar-inner
			.gcs-popup-nav
				a.arr-popup-prev(href="#")
					img(alt="" src="img/arr-left.svg" width="28" height="24")
				a.arr-popup-next(href="#")
					img(alt="" src="img/arr-right.svg" width="28" height="24")
				a.popup-close(href="#")
					img(alt="" src="img/cross.svg" width="23" height="23")
			.gcs-popup-top
				h3 Субботник
				.gcs-popup-slider
					.arrows
						a.arr-slider.arr-slider-left(href="#" role="button")
							img(alt="" src="img/arr-white-left.svg" width="17" height="28")
						a.arr-slider.arr-slider-right(href="#" role="button")
							img(alt="" src="img/arr-white-right.svg" width="17" height="28")
					.wrapper
						.slide
							img(alt="" src="img/popup-img.jpg")
						.slide
							img(alt="" src="img/popup-img.jpg")
				.gcs-popup-info
					.inner
						.gcs-popup-block
							h4 Клиент:
							p ВТБ24	
						.gcs-popup-block
							h4 Место проведения:
							p Москва
						.gcs-popup-block
							h4 Количество участников:
							p 200 чел.
						.gcs-popup-block.share
							a.btn.btn-share(href="#") Поделиться
			.gcs-popup-text Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....
	// end GCS POPUP
	// start GCS POPUP NEWS
	.gcs-popup.gcs-popup-news.mfp-hide#gcs-popup-news
		.gcs-popup-inner.scrollbar-inner
			.gcs-popup-nav
				a.arr-popup-prev(href="#")
					img(alt="" src="img/arr-left.svg" width="28" height="24")
				a.arr-popup-next(href="#")
					img(alt="" src="img/arr-right.svg" width="28" height="24")
				a.popup-close(href="#")
					img(alt="" src="img/cross.svg" width="23" height="23")
			.gcs-popup-top
				h3 Субботник
				.gcs-popup-slider
					.arrows
						a.arr-slider.arr-slider-left(href="#" role="button")
							img(alt="" src="img/arr-white-left.svg" width="17" height="28")
						a.arr-slider.arr-slider-right(href="#" role="button")
							img(alt="" src="img/arr-white-right.svg" width="17" height="28")
					.wrapper
						.slide
							img(alt="" src="img/popup-img.jpg")
						.slide
							img(alt="" src="img/popup-img.jpg")
				.gcs-popup-info
					.inner
						.gcs-popup-block.share
							a.btn.btn-share(href="#") Поделиться
			.gcs-popup-text Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....
	// end GCS POPUP
	// start GCS POPUP SINGLE
	.gcs-popup.gcs-popup-single.mfp-hide#gcs-popup-single
		.gcs-popup-inner.scrollbar-inner
			.gcs-popup-nav
				a.popup-close(href="#")
					img(alt="" src="img/cross.svg" width="23" height="23")
			.gcs-popup-top
				h3 Субботник
				.gcs-popup-slider
					.arrows
						a.arr-slider.arr-slider-left(href="#" role="button")
							img(alt="" src="img/arr-white-left.svg" width="17" height="28")
						a.arr-slider.arr-slider-right(href="#" role="button")
							img(alt="" src="img/arr-white-right.svg" width="17" height="28")
					.wrapper
						.slide
							img(alt="" src="img/popup-img.jpg")
						.slide
							img(alt="" src="img/popup-img.jpg")
				.gcs-popup-info
					.inner
						.gcs-popup-block.share
							a.btn.btn-share(href="#") Поделиться
			.gcs-popup-text Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....
	// end GCS POPUP
	// start GCS POPUP 2
	.gcs-popup.mfp-hide#gcs-popup-2
		.gcs-popup-inner.scrollbar-inner
			.gcs-popup-nav
				a.arr-popup-prev(href="#")
					img(alt="" src="img/arr-left.svg" width="28" height="24")
				a.arr-popup-next(href="#")
					img(alt="" src="img/arr-right.svg" width="28" height="24")
				a.popup-close(href="#")
					img(alt="" src="img/cross.svg" width="23" height="23")
			.gcs-popup-top
				h3 Субботник
				.gcs-popup-slider
					.arrows
						a.arr-slider.arr-slider-left(href="#" role="button")
							img(alt="" src="img/arr-white-left.svg" width="17" height="28")
						a.arr-slider.arr-slider-right(href="#" role="button")
							img(alt="" src="img/arr-white-right.svg" width="17" height="28")
					.wrapper
						.slide
							img(alt="" src="img/popup-img.jpg")
						.slide
							img(alt="" src="img/popup-img.jpg")
				.gcs-popup-info
					.inner
						.gcs-popup-block
							h4 Клиент:
							p ВТБ24	
						.gcs-popup-block
							h4 Место проведения:
							p Москва
						.gcs-popup-block
							h4 Количество участников:
							p 200 чел.
						.gcs-popup-block.share
							a.btn.btn-share(href="#") Поделиться
			.gcs-popup-text Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet.....Lorem ipsum dolor sit amet, consectetuer  adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
	// end GCS POPUP
	// start FOOTER
	footer.footer
		.container
			.copyright Copyright © 2016
			a.go-top(role="button" href="#") back to top
	// end FOOTER