//BEGIN header
header.header(role="banner")
	.container
		a.logo(href="#")
			img(src="img/logo.svg" width="136" height="47")
		aside.header-aside
			a.nav-trigger-wrap(role="button")
				span.nav-trigger
			// start MAIN NAV
			nav.nav-main(role="navigation")
				a(href="#") О нас
					a(href="#") Mice
					a(href="#") Event
					a(href="#") Новости
					a(href="#") Портфолио
					a(href="#")	Контакты
			// end MAIN NAV
			
			// start TOGGLE LANG
			.toggle-lang
				a(href="#") EN
				a.active(href="#") RU		
			// end TOGGLE LANG
//END header
