//BEGIN header
header.header.animated.fadeIn(role="banner")
	.container
		a.logo(href="#")
			img(src="img/logo.svg" alt="GCS - global corporate service" width="136" height="47")
		aside.header-aside
			a.nav-trigger-wrap(role="button")
				span.nav-trigger
			// start MAIN NAV
			nav.nav-main(role="navigation")
				a.js-anchor(href="#features") О нас
				a.js-anchor(href="#mice-department") Mice
				a.js-anchor(href="#event-department") Event
				a.js-anchor(href="#news") Новости
				a.js-anchor(href="#projects") Портфолио
				a.js-anchor(href="#contact") Контакты
			// end MAIN NAV
			
			// start TOGGLE LANG
			.toggle-lang
				a(href="#") EN
				a.active(href="#") RU		
			// end TOGGLE LANG
//END header
